*
!.gitignore

# bat (https://github.com/sharkdp/bat)
!bat/
!bat/**

# Btop++ (https://github.com/aristocratos/btop)
!btop/
!btop/**

# Claude Code (https://github.com/anthropics/claude-code)
!claude/
!claude/**

# Delta (https://github.com/dandavison/delta)
!delta/
!delta/**

# fastfetch (https://github.com/fastfetch-cli/fastfetch)
!fastfetch/
!fastfetch/**

# gh (https://cli.github.com/)
!gh/
!gh/**

# git (https://git-scm.com/)
!git/
!git/**

# git-graph (https://github.com/mlange-42/git-graph)
!git-graph/
!git-graph/**

# Ghostty (https://github.com/ghostty-org/ghostty)
!ghostty/
!ghostty/**
ghostty/backgrounds/

# helix (https://github.com/helix-editor/helix)
!helix/
!helix/**

# lazydocker (https://github.com/jesseduffield/lazydocker)
!lazydocker/
!lazydocker/**

# lazygit (https://github.com/jesseduffield/lazygit)
!lazygit/
!lazygit/**

# Neovim (https://github.com/neovim/neovim)
!nvim/
!nvim/**

# psql (https://www.postgresql.org/docs/current/app-psql.html)
!pg/
!pg/**

# readline (https://tiswww.case.edu/php/chet/readline/rltop.html)
!readline/
!readline/**

# spotify-player (https://github.com/aome510/spotify-player)
!spotify-player/
!spotify-player/**

# termframe (https://github.com/pamburus/termframe)
!termframe/
!termframe/**

# treemd (https://github.com/Epistates/treemd)
!treemd/
!treemd/**

# WezTerm (https://github.com/wezterm/wezterm)
!wezterm/
!wezterm/**

# Yazi (https://github.com/sxyazi/yazi)
!yazi/
!yazi/**

# Zsh (https://www.zsh.org/)
!zsh/
!zsh/**

# ripgrep (https://github.com/BurntSushi/ripgrep)
!.ripgreprc

# Starship (https://github.com/starship/starship)
!starship.toml

!README.md
