*
!.gitignore

# bulletty (https://github.com/crocidb/bulletty)
!bulletty/
!bulletty/**

# Claude Code (https://github.com/anthropics/claude-code)
!claude/
!claude/**

# Codex (https://github.com/openai/codex)
!codex/
!codex/**

# herdr (https://github.com/herdrdev/herdr)
!herdr/
!herdr/**

# Neovim (https://github.com/neovim/neovim)
!nvim/
!nvim/**

# WezTerm (https://github.com/wezterm/wezterm)
!wezterm/
!wezterm/**

# Yazi (https://github.com/sxyazi/yazi)
!yazi/
!yazi/**

# zeno.zsh (https://github.com/yuki-yano/zeno.zsh)
!zeno/
!zeno/**

# Zsh (https://www.zsh.org/)
!zsh/
!zsh/**
