name: Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  format:
    name: Format check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      # actions/checkout@v4
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      # DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/nix-installer-action@ab0a9732c6464e5bb81efb82a2103c7d98f0946f
      # cachix/cachix-action@v15
      - uses: cachix/cachix-action@ad2ddac53f961de1989924296a1f236fcfbaa4fc
        with:
          name: kokatsu
      - name: Check formatting
        run: nix fmt -- --check .

  build-linux:
    name: Build (Linux)
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # actions/checkout@v4
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      # DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/nix-installer-action@ab0a9732c6464e5bb81efb82a2103c7d98f0946f
      # cachix/cachix-action@v15
      - uses: cachix/cachix-action@ad2ddac53f961de1989924296a1f236fcfbaa4fc
        with:
          name: kokatsu
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build devShell
        run: nix build .#devShells.x86_64-linux.default
      - name: Build home-manager config
        run: nix build .#homeConfigurations.ci-linux.activationPackage

  build-darwin:
    name: Build (macOS)
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      # actions/checkout@v4
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      # DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/nix-installer-action@ab0a9732c6464e5bb81efb82a2103c7d98f0946f
      # cachix/cachix-action@v15
      - uses: cachix/cachix-action@ad2ddac53f961de1989924296a1f236fcfbaa4fc
        with:
          name: kokatsu
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build devShell
        run: nix build .#devShells.aarch64-darwin.default
      - name: Build home-manager config
        run: nix build .#homeConfigurations.ci-darwin.activationPackage
